<div class="row breadcrumbs">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <ul class="breadcrumbs">
            <li><a href="#"><i class="fa fa-home"></i></a></li>
            <li><a href="#">Songs</a></li>

        </ul>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
        <a href='/upload' class="btn btn-xs btn-success" type="button"><i class="fa fa-plus"></i> New</a>
    </div>

</div>


<div class="row">
    <div class="boxed no-padding col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="inner">
            <div class="title-bar white">
                <h3>Songs</h3>
            </div>
            <div class="table-holder">

                <table id="datatables-table" class="datatables">
                    <thead>
                    <tr>
                        <th>Song Name</th>
                        <th>Status</th>
                        <th>Description</th>
                        <th>Genre</th>
                        <th>Album</th>
                        <th>Length</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <% _.each(songs, function (song) { %>

                    <tr>
                        <td><%= song.name || '-' %></td>
                        <td><%= (song.status != null) ? uf.getSongStatus(song.status) : '-' %></td>
                        <td><%= uf.getValueByKey('description',song.songMeta) || '-' %></td>
                        <td><%= uf.getValueByKey('genre',song.songMeta) || '-' %></td>
                        <td><%= uf.getValueByKey('album',song.songMeta) || '-' %></td>
                        <td><%= uf.songLengthToTime(uf.getValueByKey('songLength',song.songMeta)) || '-' %></td>
                        <td>
                            <a href='/songs/edit?id=<%= song.id %>'><i class='fa fa-pencil'></i> Edit</a>
                        </td>

                    </tr>
                    <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>