<% if(typeof error !== 'undefined'){ %>
    <script>
    error = <%- JSON.stringify(error) %>
    playListsPage = true;
    </script>
<% } %>
<div class="row breadcrumbs">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <ul class="breadcrumbs">
            <li><a href="#"><i class="fa fa-home"></i></a></li>
            <li><a href="#">Songs</a></li>
        </ul>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
        <a href='/playlists/edit?id=new' class="btn btn-xs btn-success" type="button"><i class="fa fa-plus"></i> New</a>
        <a href='/playlists/destroy/<%= playList.id || '' %>' class="btn btn-xs btn-danger" type="button"><i class="fa fa-trash-o"></i> Delete</a>
    </div>
</div>


<div class="row">
    <div class="boxed no-padding col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="inner">
            <div class="title-bar white">
                <h3><%- (id == 'new') ? 'Create New Song' : 'Editing <span class="songName">' + (playList.name || "") + '</span>' %></h3>
            </div>

            <div class="col-lg-12">
                <form method="post" id="login-form" name="login-form" action="/playlists/save/" class="inline">
                    <div class="col-lg-6">
                        <div class="col-lg-10">
                            <div class="title-bar white">
                                <div class="hrSpacer"></div>
                                <h3>List Information</h3>
                            </div>

                            <div class="hrSpacer"></div>
                            <div class="input-group">
                                <span class="input-group-addon">List Name</span>
                                <input id="listName" value="<%= playList.name || '' %>" type="text" class="form-control" name="name" placeholder="Enter List Name" />
                            </div>

                            <div class="hrSpacer"></div>
                            <div class="input-group">
                                <span class="input-group-addon">List Description</span>
                                <input value="<%= playList.description || '' %>" type="text" class="form-control" name="description" placeholder="Enter List Description" />
                            </div>
                            <div class="hrSpacer"></div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="col-lg-10">
                            <div class="title-bar white">
                                <div class="hrSpacer"></div>
                                <h3>Songs in the list:</h3>

                                <% _.each(playList.songs, function (song) { %>
                                    <div class="col-lg-12"><a href="/songs/edit?id=<%= song.id %>"><%= song.name || 'N\A' %></a></div>
                                <% }) %>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="col-lg-3">
                            <input type="hidden" name="id" value="<%= id || '' %>" />
                            <input type="submit" class="btn btn-lg btn-success" value="<%= (id == 'new') ? 'Create Song' : 'Update Song' %>" name="submit" id="submit" />
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div id="alertUser" class="alertUser alertUser_warning">
    <i class="mrLeft_10 fa fa-warning"></i>
    <span class="textHolder"></span>
</div>